<% layout("/layouts/boilerPlate") %>
  <style>
    #filters {
      /* border:2px solid green; */
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .filter{
      display: flex;
      flex-direction: column;
      align-items: center; 
       justify-content:space-between;
      margin: 0.6rem 1rem 0rem 1rem;
      opacity:0.8;
     
     
    }
    .filter:hover{
      opacity:1;
      cursor: pointer;
    }
    .tax-info{
      display: none;
    }

    .tax-toggle{
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      border-radius: 1rem;
      height: 2.5rem;
      padding: 0.2rem;
      width: 10rem;
      font-size: 1rem;
      text-align: center;

      /* float:right; */
    }
    .below{
      display: flex;
      /* align-items:center */
      justify-content: center;
      justify-content: space-between;
      margin: 1rem;
      border-radius: 0.5rem;
    }
    .offcanvas-header{
      padding: 3.5rem;
      text-align: center;
    }
    .filter a{
      text-decoration: none;
      color: inherit; 
    }
   
  </style>


  <!-- <form method="get" action="/listings/new">
        <button>Create new List</button>
    </form> -->
<body>
  <div class="below" style="border:2px solid rgb(243, 243, 247)">
  <button class="navbar-toggler tax-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
    choose preferences
  </button>
  <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header" >
      <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">So many options for you</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div id="filters">
        
        <div class="filter">
          <div><i class="fa-solid fa-fire"></i></div>
          <a href="/listings/change/Trending">Trending</a>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-mountain"></i></div>
          <a href="/listings/change/Mountain">Mountain</a>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-campground"></i></div>
          <a href="/listings/change/Camping">Camping</a>
        </div>
        <div class="filter">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <a href="/listings/change/Beaches">Beaches</a>
        </div>
        <div class="filter">
         <div> <i class="fa-solid fa-water"></i></div>
          <a href="/listings/change/River">River</a>
        </div>
        <div class="filter">
          <div> <i class="fa-solid fa-bed"></i></div>
           <a href="/listings/change/Rooms">Rooms</a>
         </div>
         <div class="filter">
          <div> <i class="fa-solid fa-mountain-sun"></i></div>
           <a href="/listings/change/Iconic city">Iconic cities</a>
         </div>
         <div class="filter">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
           <a href="/listings/change/Castles">Castles</a>
         </div>
    
         
        
      </div>
    </div>
  </div>
  <!-- <div id="filters"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      click me
    </button>
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountain</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      <p>Beaches</p>
    </div>
    <div class="filter">
     <div> <i class="fa-solid fa-water"></i></div>
      <p>River</p>
    </div>
    <div class="filter">
      <div> <i class="fa-solid fa-bed"></i></div>
       <p>Rooms</p>
     </div>
     <div class="filter">
      <div> <i class="fa-solid fa-mountain-sun"></i></div>
       <p>Iconic cities</p>
     </div>
     <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
       <p>Castles</p>
     </div> -->

     <div class="tax-toggle">
      <div class="form-check-reverse form-switch switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">show Taxes</label>
      </div>
     </div>
    
  </div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3 front">
    <% for (let list of listing) {%>

      <div class="my-card card col">
        <a href="/listings/<%= list._id %>" class="listing-link">
          <img src="<%= list.image.url %>" class="card-img-top" alt="list_Image" style="height:20rem">
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <b>
              <h5 class="card-title">
                <%= list.title %>
              </h5>
            </b>
            <p class="card-text">&#8377;<%= list.price.toLocaleString("en-IN") %> / night <i class="tax-info">&nbsp;&nbsp;+18% GST</i></p>
            
            <a href="#" class="btn btn-primary">Explore</a>
          </div>
        </a>
      </div>

      <% } %>
  </div>
  <script>
    let taxSwitch=document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
      let taxInfo=document.getElementsByClassName("tax-info");
      for(let info of taxInfo){
        if(info.style.display!="inline"){
          info.style.display="inline";
          
        }else{
          info.style.display="none";
        }
      }
    })
  </script>
  </body>