*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fe424d;
    
}

.container{
    flex:1;
}

.navbar{
    background-color: rgb(248, 232, 232);
}
.fa-compass{
    color:#fe424d;
    font-size: 3rem;
}

.nav-link{
    color:#222222 !important;
}

/* footer */

footer{
    background-color: #948f8f;
}
.f-info-links a{
    margin-right: 1rem;
    text-decoration: none;
    color:#222222;
}



.f-info-links:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #948f8f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


.f-info-socials ,.f-info-links , .brand-name{
    width:100%;
}

.f-info-socials i{
    margin-top: .7rem;
    font-size: 1.2rem;
    margin-right: 1.1rem;
}

/* styling cards */

.my-card {
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100%;
    object-fit: cover;
}

.card-body{
    padding: 0px !important ;
}
.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none !important;
    color: #0d0909;
}
.btn-primary{
    background-color: #fe424d !important;
}

.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

.show-img{
    height: 40vh;
    /* object-fit: contain; */
}
.edit-btn{
    background-color:#fe424d !important;
}
.edit-btn:hover{
    opacity: 0.8;
}

#map{
    height: 400px;
    width: 80vh;
}

.btns{
    display: flex;
    max-width: 80%;
    justify-content: center;
    margin: auto;
}
/* .search{
    background-color: #0d0909;
   } */

/* responsoivenes */
@media screen and (max-width: 700px) {
   .front{
    display:flex;
    flex-direction: column;
   }
   .search{
    /* background-color: #0d0909; */
    width: 20rem;
    /* float: left; */
    /* display: block; */
    margin-right: 20rem;
  
   }
   .search-inp{
   
    padding: 1% !important ;
    margin: 0.5rem !important;
    text-align: center;
   }
   .d-flex{
    display: flex;
    flex-direction: column;
    /* padding: 0.5rem; */
    width: 15rem;
    align-items:self-start;
    /* border:2px solid #0d0909; */
   }
   .search-btn{
    width: 6rem;
    padding: 1% !important ;
    margin: 0.5 rem !important;
    text-align: center;
    margin-left: 0.5rem;
   }

   #map{
    height: 200px;
    width: 100%;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.my-card img{
    height: 160px;
    width: 250 !important;
    object-fit: contain; 
}

  }